# Importing All required Libraries

In [2]:
import pandas  as pd 
from statistics import median
from datetime import date

import warnings
warnings.simplefilter("ignore")

In [51]:
data = pd.read_excel('/home/ubuntu/Production/Data/CampaignAggregate.xlsx')
data.head()

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
0,17876,0011U00001L8l7wQAB,US,15740554,2019-09-03,1,145.00,NonDigital
1,17882,0011U00001L8l7xQAB,US,16037387,2020-07-16,2,168.00,NonDigital
2,17985,0011U00001L8l8GQAR,US,15627188,2019-05-13,23,990.00,NonDigital
3,22286,0011U00001L8kIjQAJ,CA,15774754,2019-10-08,1,984.62,NonDigital
4,19780,0011U00001L8kAtQAJ,US,15980438,2020-05-14,1,711.90,NonDigital

In [52]:
data_new = pd.read_csv('test_data.csv')
data_new = data_new.astype({"accountsapid":'int', "Single_Order":'int',"2019":'int',"2020":'int',"2021":'int'})
data_new

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
0,17876,0,1,0,0,Will_Churn,Will_Churn,73.0,219.0,Will_Churn
1,17882,0,1,1,1,WillNot_Churn,WillNot_Churn,20.0,60.0,WillNot_Churn
2,17985,0,1,1,1,WillNot_Churn,WillNot_Churn,174.0,522.0,WillNot_Churn
3,22286,0,1,1,1,WillNot_Churn,WillNot_Churn,21.0,63.0,WillNot_Churn
4,19780,0,1,1,1,WillNot_Churn,WillNot_Churn,42.0,126.0,WillNot_Churn
...,...,...,...,...,...,...,...,...,...,...
9391,1022470,1,0,0,1,WillNot_Churn,-1,0.0,0.0,WillNot_Churn
9392,1023101,1,0,0,1,WillNot_Churn,-1,0.0,0.0,WillNot_Churn
9393,1023221,1,0,0,1,WillNot_Churn,-1,0.0,0.0,WillNot_Churn
9394,1023287,1,0,0,1,WillNot_Churn,-1,0.0,0.0,WillNot_Churn
9395,1023554,1,0,0,1,WillNot_Churn,-1,0.0,0.0,WillNot_Churn

# Testing the outcome with Two  type of Users

## Testing W.r.t Users having only one Transactions overall

In [53]:
# FETCHING USERS HAVING ONE TRANSACTIONS
data_group = data.groupby('accountsapid')
unique_Ids = data['accountsapid'].unique()

UniqIdsSinglTran = pd.DataFrame({ 'accountsapid':[]})

for ids in unique_Ids:
    current_user = data_group.get_group(ids)
    if len(current_user['OrderCreateDate'].unique()) == 1:
        unique_ids_single = {'accountsapid':ids}
        UniqIdsSinglTran= UniqIdsSinglTran.append([unique_ids_single])

In [54]:
UniqIdsSinglTran.sample(frac=1).head()

   accountsapid
0      162973.0
0     1015779.0
0      284574.0
0      228065.0
0      253690.0

- According to the rule Churn_rule_avg_cycle must be -1 because single transactions can't have average cycle 
- Also Median Days and 3_years_cycle have no median
- Now in this Churn_Rule_year_wise is applicable and Final Rule will also only depend only on Chur_rule_year_wise

2019      2020      2021   Churn_rule_year_wise
1          0         0      1
0          1         0      1
0          0         1      0

### Single Transaction user having account id 18345

In [55]:
data_new.query('accountsapid==18345')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
15,18345,1,1,0,0,Will_Churn,-1,0.0,0.0,Will_Churn

- According to data user is having only one transactions in life cycle . acc. to our data

In [56]:
data.query('accountsapid==18345')

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
44,18345,0011U00001L8l97QAB,US,15585856,2019-03-29,1,909.0,ECommerce

- User is having only one transaction in original data also

### Single Transaction user having account id 1022470

In [57]:
data_new.query('accountsapid==1022470')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
9391,1022470,1,0,0,1,WillNot_Churn,-1,0.0,0.0,WillNot_Churn

- user is having only one transaction in 2021 and according to table define above we have make rule

In [58]:
data.query('accountsapid==1022470')

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
107818,1022470,0011U00001jEHCHQA4,US,16283071,2021-03-26,2,342.24,EProcurement

- user is having only one transaction in original data also

In [59]:
data_new.query('accountsapid==1001581')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
7608,1001581,1,1,0,0,Will_Churn,-1,0.0,0.0,Will_Churn

- users is having only one purchase that too also in 2019

In [60]:
data.query('accountsapid==1001581')

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
96792,1001581,0011U00001L91rpQAB,US,15559943,2019-03-05,2,860.0,NonDigital

## Testing W.r.t users having more then one Transactions

In [61]:
# FETCHING USERS HAVING  MULTIPLE TRANSACTIONS
data_group = data.groupby('accountsapid')
unique_Ids = df['accountsapid'].unique()

UniqIdsMultiTran = pd.DataFrame({ 'accountsapid':[]})

for ids in unique_Ids:
    current_user = data_group.get_group(ids)
    if len(current_user['OrderCreateDate'].unique()) > 1:
        unique_ids_multiple = {'accountsapid':ids}
        UniqIdsMultiTran= UniqIdsMultiTran.append([unique_ids_multiple])

In [62]:
UniqIdsMultiTran.sample(frac =1).head()

   accountsapid
0      159224.0
0      259593.0
0      178847.0
0      850087.0
0      853501.0

- According to this rule Churn_rule_avg_cycle must have some value 
- Same Apply with Median Days and 3_years_cycle 
- Now in this Churn_Rule_year_wise and Churn_Rule_avg_cycle is applicable and Final Rule will also only depend on both

2019      2020      2021   Churn_rule_year_wise
1          0         0      1
0          1         0      1
0          0         1      0
1          1         0      1
1          0         1      1
0          1         1      0
1          1         1      0

- Churn_rule_year_wise    Churn_rule_avg_pur_cycle    Churn 
- 0                            0                       0
- 0                            1                       1
- 1                            0                       0
- 1                            1                       1

### Now Check for different users

In [63]:
data_new.query('accountsapid==17985')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
2,17985,0,1,1,1,WillNot_Churn,WillNot_Churn,174.0,522.0,WillNot_Churn

In [64]:
user17985= data.query('accountsapid==17985')
user17985

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
2,17985,0011U00001L8l8GQAR,US,15627188,2019-05-13,23,990.0,NonDigital
46,17985,0011U00001L8l8GQAR,US,15895735,2020-02-28,2,4521.6,EProcurement
51,17985,0011U00001L8l8GQAR,US,16351067,2021-06-18,2,4748.4,EProcurement
54,17985,0011U00001L8l8GQAR,US,15593809,2019-04-05,10,432.0,EProcurement
100,17985,0011U00001L8l8GQAR,US,15533808,2019-02-07,15,405.0,EProcurement

- As we can see users have transactions in 2019 ,2020,2021

In [65]:
user17985 = user17985.sort_values('OrderCreateDate')
DiffDate = user17985['OrderCreateDate'] -user17985['OrderCreateDate'].shift(1)

user17985['DiffDate'] = DiffDate
print(user17985[['OrderCreateDate','DiffDate']])

print("Difference between dates\n",DiffDate)

print("\nMedian",median(DiffDate[1:]).days)
print('Median with 3 years cycle ',median(DiffDate[1:]).days*3)

print('\nLast Order Date\n', user17985['OrderCreateDate'][-1:])

print("\nNow Acording to rule given in ChurnTestCaseSimulation\nwe will see whether 3year cycle date has come before or after \nlast purchase date")
print("\nIf last purchase date has come before 3 year cycle date then we will churn out that user \nelse churn in ")

if median(DiffDate[1:]).days*3 >= (date.today()-date(user17985['OrderCreateDate'][-1:].dt.year,user17985['OrderCreateDate'][-1:].dt.month,user17985['OrderCreateDate'][-1:].dt.day )).days:
    print('\n\nWillnot_churn')
else:
    print('\n\nWill_churn')

    OrderCreateDate DiffDate
100      2019-02-07      NaT
54       2019-04-05  57 days
2        2019-05-13  38 days
46       2020-02-28 291 days
51       2021-06-18 476 days
Difference between dates
 100        NaT
54     57 days
2      38 days
46    291 days
51    476 days
Name: OrderCreateDate, dtype: timedelta64[ns]

Median 174
Median with 3 years cycle  522

Last Order Date
 51   2021-06-18
Name: OrderCreateDate, dtype: datetime64[ns]

Now Acording to rule given in ChurnTestCaseSimulation
we will see whether 3year cycle date has come before or after
last purchase date

If last purchase date has come before 3 year cycle date then we will churn out that user
else churn in


Willnot_churn

- So after Cross checking We can see all our result is perfect

### Check for other user

In [66]:
# Check for some other users
data_new.query('accountsapid==209247')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
2239,209247,0,1,1,0,Will_Churn,WillNot_Churn,352.0,1056.0,WillNot_Churn

In [67]:
user209247= data.query('accountsapid==209247')
user209247

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
33911,209247,0011U00001L8qflQAB,US,15880240,2020-01-22,1,271.0,NonDigital
36452,209247,0011U00001L8qflQAB,US,15526423,2019-02-04,3,603.0,NonDigital

- This user have transactions in 2019 and 2020 only 
- Lets Calculate its Churn_aavg_cycle

In [68]:
user209247 = user209247.sort_values('OrderCreateDate')
DiffDate = user209247['OrderCreateDate'] -user209247['OrderCreateDate'].shift(1)

user209247['DiffDate'] = DiffDate
print(user209247[['OrderCreateDate','DiffDate']])

print("Difference between dates\n",DiffDate[1:])

print("\nMedian",median(DiffDate[1:]).days)
print('Median with 3 years cycle ',median(DiffDate[1:]).days*3)

print('\nLast Order Date\n', user209247['OrderCreateDate'][-1:])

print("\nNow Acording to rule given in ChurnTestCaseSimulation\nwe will see whether 3year cycle date has come before or after \nlast purchase date")
print("\nIf last purchase date has come before 3 year cycle date then we will churn out that user \nelse churn in ")

if median(DiffDate[1:]).days*3 >= (date.today()-date(user209247['OrderCreateDate'][-1:].dt.year,user209247['OrderCreateDate'][-1:].dt.month,user209247['OrderCreateDate'][-1:].dt.day )).days:
    print('\n\Churn_Rule_avg_cycle is ')
    print('Willnot_churn')
else:
    print('\n\Churn_Rule_avg_cycle is ')

    print('Will_churn')

      OrderCreateDate DiffDate
36452      2019-02-04      NaT
33911      2020-01-22 352 days
Difference between dates
 33911   352 days
Name: OrderCreateDate, dtype: timedelta64[ns]

Median 352
Median with 3 years cycle  1056

Last Order Date
 33911   2020-01-22
Name: OrderCreateDate, dtype: datetime64[ns]

Now Acording to rule given in ChurnTestCaseSimulation
we will see whether 3year cycle date has come before or after
last purchase date

If last purchase date has come before 3 year cycle date then we will churn out that user
else churn in

\Churn_Rule_avg_cycle is
Willnot_churn

- In our Created Dataset(df_new) Churn_Rule_avg_cycle is also Willnot_churn so no problem here
- Lets check Churn_Rule_year_wise and Churn_Rule_avg_cycle . Now according to the table given above we have accurate result

### Check for other user

In [69]:
#Chekc for some other users 
data_new.query('accountsapid==818711')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
4737,818711,0,1,1,0,Will_Churn,WillNot_Churn,72.0,216.0,WillNot_Churn

In [70]:
user818711= data.query('accountsapid==818711')
user818711

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
74744,818711,0011U00001L8xuTQAR,CA,15981468,2020-05-15,3,2246.15,NonDigital
78285,818711,0011U00001L8xuTQAR,CA,15550836,2019-02-25,6,1765.39,NonDigital
78345,818711,0011U00001L8xuTQAR,CA,15608926,2019-04-23,6,2100.00,NonDigital
83766,818711,0011U00001L8xuTQAR,CA,15932941,2020-03-17,1,593.08,NonDigital
88677,818711,0011U00001L8xuTQAR,CA,16090425,2020-09-11,4,1815.42,NonDigital
89727,818711,0011U00001L8xuTQAR,CA,16179891,2020-12-08,5,1332.69,NonDigital
93128,818711,0011U00001L8xuTQAR,CA,15790998,2019-10-23,1,523.08,NonDigital
95009,818711,0011U00001L8xuTQAR,CA,15964252,2020-04-23,2,1347.69,NonDigital
99083,818711,0011U00001L8xuTQAR,CA,15625359,2019-05-09,1,680.77,NonDigital

- As we can see user have transaction in 2019 and 2020 only

In [71]:
user818711 = user818711 = user818711.sort_values('OrderCreateDate')
DiffDate = user818711['OrderCreateDate'] -user818711['OrderCreateDate'].shift(1)

user818711['DiffDate'] = DiffDate
print(user818711[['OrderCreateDate','DiffDate']])

print("Difference between dates\n",DiffDate[1:])

print("\nMedian",median(DiffDate[1:]).days)
print('Median with 3 years cycle ',median(DiffDate[1:]).days*3)

print('\nLast Order Date\n', user818711['OrderCreateDate'][-1:])

print("\nNow Acording to rule given in ChurnTestCaseSimulation\nwe will see whether 3year cycle date has come before or after \nlast purchase date")
print("\nIf last purchase date has come before 3 year cycle date then we will churn out that user \nelse churn in ")

if median(DiffDate[1:]).days*3 >= (date.today()-date(user818711['OrderCreateDate'][-1:].dt.year,user818711['OrderCreateDate'][-1:].dt.month,user818711['OrderCreateDate'][-1:].dt.day )).days:
    print('\n\Churn_Rule_avg_cycle is ')
    print('Willnot_churn')
else:
    print('\n\Churn_Rule_avg_cycle is ')

    print('Will_churn')

      OrderCreateDate DiffDate
78285      2019-02-25      NaT
78345      2019-04-23  57 days
99083      2019-05-09  16 days
93128      2019-10-23 167 days
83766      2020-03-17 146 days
95009      2020-04-23  37 days
74744      2020-05-15  22 days
88677      2020-09-11 119 days
89727      2020-12-08  88 days
Difference between dates
 78345    57 days
99083    16 days
93128   167 days
83766   146 days
95009    37 days
74744    22 days
88677   119 days
89727    88 days
Name: OrderCreateDate, dtype: timedelta64[ns]

Median 72
Median with 3 years cycle  216

Last Order Date
 89727   2020-12-08
Name: OrderCreateDate, dtype: datetime64[ns]

Now Acording to rule given in ChurnTestCaseSimulation
we will see whether 3year cycle date has come before or after
last purchase date

If last purchase date has come before 3 year cycle date then we will churn out that user
else churn in

\Churn_Rule_avg_cycle is
Willnot_churn

* In our Created Dataset(df_new) Churn_Rule_avg_cycle is also Willnot_churn so no problem here
- Lets check Churn_Rule_year_wise and Churn_Rule_avg_cycle . Now according to the table given above we have accurate result

### Check For AccountID 760875

In [47]:
#  Check for other users 
data_new.query('accountsapid==760875')

,accountsapid,Single_Order,2019,2020,2021,Churn_Rule_year_wise,Churn_Rule_avg_cycle,Median_Days,3_years_cycle,Final_Churn
5029,760875,0,0,1,1,WillNot_Churn,WillNot_Churn,106.0,318.0,WillNot_Churn

In [48]:
user760875= data.query('accountsapid==760875')
user760875

,accountsapid,SalesforceAccountID,SalesforceAccountCountryCode,ordernumber,OrderCreateDate,OrderQuantity,OrderAmount(USD),OrderChannel
76924,760875,0011U00001L8vY2QAJ,US,16206780,2021-01-11,2,134.0,NonDigital
95531,760875,0011U00001L8vY2QAJ,US,16005865,2020-06-12,3,1191.2,NonDigital
95585,760875,0011U00001L8vY2QAJ,US,16030638,2020-07-09,2,963.9,NonDigital

- user have order in 2020,2021 only

In [72]:
user760875 = user760875.sort_values('OrderCreateDate')
DiffDate = user760875['OrderCreateDate'] -user760875['OrderCreateDate'].shift(1)
user760875['DiffDate'] = DiffDate
print(user760875[['OrderCreateDate','DiffDate']])

print("\nDifference between dates:\n",DiffDate[1:])

print("\nMedian:",median(DiffDate[1:]).days)
print('Median with 3 years cycle ',median(DiffDate[1:]).days*3)

print('\nLast Order Date:\n', user760875['OrderCreateDate'][-1:])

print("\nNow Acording to rule given in ChurnTestCaseSimulation\nwe will see whether 3year cycle date has come before or after \nlast purchase date")
print("\nIf last purchase date has come before 3 year cycle date then we will churn out that user \nelse churn in ")

if median(DiffDate[1:]).days*3 >= (date.today()-date(user760875['OrderCreateDate'][-1:].dt.year,user760875['OrderCreateDate'][-1:].dt.month,user760875['OrderCreateDate'][-1:].dt.day )).days:
    print('\n\Churn_Rule_avg_cycle is :')
    print('Willnot_churn')
else:
    print('\n\Churn_Rule_avg_cycle is ')

    print('Will_churn')

      OrderCreateDate DiffDate
95531      2020-06-12      NaT
95585      2020-07-09  27 days
76924      2021-01-11 186 days

Difference between dates:
 95585    27 days
76924   186 days
Name: OrderCreateDate, dtype: timedelta64[ns]

Median: 106
Median with 3 years cycle  318

Last Order Date:
 76924   2021-01-11
Name: OrderCreateDate, dtype: datetime64[ns]

Now Acording to rule given in ChurnTestCaseSimulation
we will see whether 3year cycle date has come before or after
last purchase date

If last purchase date has come before 3 year cycle date then we will churn out that user
else churn in

\Churn_Rule_avg_cycle is :
Willnot_churn

* In our Created Dataset(df_new) Churn_Rule_avg_cycle is also Willnot_churn so no problem here
- Lets check Churn_Rule_year_wise and Churn_Rule_avg_cycle . Now according to the table given above we have accurate result